<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <% if (mess) { %>
        <p><strong><%= mess %></strong></p>
    <% } %>
    <table>
        <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Age</th>
        </tr>
        <%data.forEach(function(stu){%>
            <tr>
                <td><%=stu.name%></td>
                <td><%=stu.email%></td>
                <td><%=stu.age%></td>
            </tr>
        <%})%>
    </table>
</body>
</html>